In [1]:
import pandas as pd
import datetime

In [2]:
file2_name = "daily_trading_info_2019-2020.xlsx"
file2 = pd.read_excel(file2_name, sheet_name = None)
company_index = []
company_index = list(file2.keys())[:] #sheet name

In [3]:
from talib import abstract

In [4]:
pd.read_excel(company_index[0]+".xlsx")

,date,open,high,low,close,volume,ma5,ma10,ma15,MOM,...,MFI.1,OBV.1,AD.1,WILLR.1,ADXR.1.1,DX.1.1,MFI.1.1,OBV.1.1,AD.1.1,WILLR.1.1
0,2014-01-02,21.309999,21.700001,21.230000,21.459999,5096443,NaN,NaN,NaN,NaN,...,NaN,5096443,-1.084578e+05,NaN,NaN,NaN,NaN,5096443,-1.084578e+05,NaN
1,2014-01-03,21.400000,21.450001,20.370001,20.790001,9945683,NaN,NaN,NaN,NaN,...,NaN,-4849240,-2.318608e+06,NaN,NaN,NaN,NaN,-4849240,-2.318608e+06,NaN
2,2014-01-06,20.680000,20.680000,20.219999,20.240000,5171376,NaN,NaN,NaN,NaN,...,NaN,-10020616,-7.040289e+06,NaN,NaN,NaN,NaN,-10020616,-7.040289e+06,NaN
3,2014-01-07,20.100000,20.250000,19.860001,20.000000,5364241,NaN,NaN,NaN,NaN,...,NaN,-15384857,-8.553291e+06,NaN,NaN,NaN,NaN,-15384857,-8.553291e+06,NaN
4,2014-01-08,20.000000,20.389999,20.000000,20.230000,5186841,20.544000,NaN,NaN,NaN,...,NaN,-10198016,-7.622322e+06,NaN,NaN,NaN,NaN,-10198016,-7.622322e+06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1517,2020-03-25,24.600000,24.850000,24.500000,24.799999,7072723,24.400000,24.861,25.410000,-1.470001,...,41.918619,1765133226,1.577623e+09,-70.652196,27.850491,25.869922,41.918619,1765133226,1.577623e+09,-70.652196
1518,2020-03-26,24.620001,25.290001,24.580000,25.129999,8346083,24.577999,24.788,25.290000,-1.160002,...,51.237618,1773479309,1.582207e+09,-58.695678,27.232982,13.420602,51.237618,1773479309,1.582207e+09,-58.695678
1519,2020-03-27,25.320000,25.799999,25.150000,25.180000,8794212,24.716000,24.771,25.186000,-1.129999,...,51.873414,1782273521,1.574225e+09,-56.884042,26.480373,0.812695,51.873414,1782273521,1.574225e+09,-56.884042
1520,2020-03-30,25.150000,25.570000,24.950001,25.450001,8179292,24.980000,24.764,25.131333,-0.410000,...,50.942084,1790452813,1.579238e+09,-47.101418,26.565703,5.315442,50.942084,1790452813,1.579238e+09,-47.101418
1521,2020-03-31,25.500000,25.540001,25.150000,25.350000,5331630,25.182000,24.792,25.068667,0.000000,...,58.614542,1785121183,1.579375e+09,-50.724620,25.223981,5.315442,58.614542,1785121183,1.579375e+09,-50.724620

In [5]:
df = pd.read_excel(company_index[0]+".xlsx")

In [6]:
inputs = {
    'open': df["open"],
    'high': df["high"],
    'low':  df["low"],
    'close': df["close"],
    'volume': df["volume"]
}
# uses close prices (default)
out1 = abstract.MOM(inputs, timeperiod=12)
out2 = abstract.RSI(inputs, timeperiod=12)
out3 = abstract.CMO(inputs, timeperiod=12)
#out4slowk, out4slowd = abstract.STOCH(inputs, fastk_period=9, slowk_period=3, slowk_matype=0, slowd_period=3, slowd_matype=0)
#out5macd, out5macdsignal, out5macdhist = abstract.MACD(inputs, fastperiod=6, slowperiod=12, signalperiod=9)
#out6 = abstract.ADXR(inputs, timeperiod=12)
#out7 = abstract.DX(inputs, timeperiod=12)
#out8 = abstract.MFI(inputs, timeperiod=12)
#out9 = abstract.OBV(inputs)
#out10 = abstract.AD(inputs)
#out11 = abstract.WILLR(inputs, timeperiod=12)

In [7]:
pd.DataFrame(out1, columns=["MOM"]).head(20)

In [8]:
pd.DataFrame(out2, columns=["RSI"]).head(20)

In [9]:
pd.DataFrame(out3, columns=["CMO"]).head(20)

In [12]:
#pd.DataFrame(out6, columns=["ADXR"]).head(50)

         ADXR
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
30        NaN
31        NaN
32        NaN
33        NaN
34  36.782542
35  35.728597
36  35.237857
37  34.358534
38  33.434024
39  33.309391
40  33.607653
41  32.246287
42  31.361886
43  31.002175
44  31.169920
45  31.160774
46  31.339185
47  31.770278
48  30.962427
49  30.423419

In [13]:
#pd.DataFrame(out7, columns=["DX"]).head(20)

           DX
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12  51.693510
13  36.650368
14  35.027257
15  33.300085
16  42.695938
17  49.028927
18  49.028927
19  51.544608

In [14]:
#pd.DataFrame(out8, columns=["MFI"]).head(20)

          MFI
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12  26.543920
13  35.582571
14  44.665169
15  45.890305
16  33.721294
17  31.995213
18  43.744449
19  42.161150

In [15]:
#pd.DataFrame(out9, columns=["OBV"]).head(20)

           OBV
0    5096443.0
1   -4849240.0
2  -10020616.0
3  -15384857.0
4  -10198016.0
5  -14022843.0
6  -23166243.0
7  -27450048.0
8  -24023898.0
9  -19145713.0
10 -16214089.0
11 -19027772.0
12 -23648791.0
13 -20737100.0
14 -16134570.0
15 -20089900.0
16 -28638417.0
17 -35736370.0
18 -30308563.0
19 -36764787.0

In [16]:
#pd.DataFrame(out10, columns=["AD"]).head(20)

              AD
0  -1.084578e+05
1  -2.318608e+06
2  -7.040289e+06
3  -8.553291e+06
4  -7.622322e+06
5  -1.025187e+07
6  -1.451878e+07
7  -1.259846e+07
8  -1.026245e+07
9  -8.636388e+06
10 -8.981293e+06
11 -1.001070e+07
12 -1.101526e+07
13 -8.922480e+06
14 -4.575652e+06
15 -7.359007e+06
16 -1.253990e+07
17 -1.834734e+07
18 -2.119052e+07
19 -2.433586e+07

In [17]:
#pd.DataFrame(out11, columns=["WILLR"]).head(20)

        WILLR
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11 -71.897811
12 -81.124462
13 -40.697690
14 -20.279647
15 -32.867078
16 -56.390900
17 -90.756255
18 -89.473772
19 -92.125957

In [18]:
#out1

In [19]:
pd.concat([df, pd.DataFrame(out1, columns=["MOM"])\
             , pd.DataFrame(out2, columns=["RSI"])\
             , pd.DataFrame(out3, columns=["CMO"])], axis=1).head(50)


#out1 = abstract.MOM(inputs, timeperiod=12)
#out2 = abstract.RSI(inputs, timeperiod=12)
#out3 = abstract.CMO(inputs, timeperiod=12)
#out4slowk, out4slowd = abstract.STOCH(inputs, fastk_period=9, slowk_period=3, slowk_matype=0, slowd_period=3, slowd_matype=0)
#out5macd, out5macdsignal, out5macdhist = abstract.MACD(inputs, fastperiod=6, slowperiod=12, signalperiod=9)
#out6 = abstract.ADXR(inputs, timeperiod=12)
#out7 = abstract.DX(inputs, timeperiod=12)
#out8 = abstract.MFI(inputs, timeperiod=12)
#out9 = abstract.OBV(inputs)
#out10 = abstract.AD(inputs)
#out11 = abstract.WILLR(inputs, timeperiod=12)

,date,open,high,low,close,volume,ma5,ma10,ma15,MOM,...,MFI.1.1,OBV.1.1,AD.1.1,WILLR.1.1,ADXR,DX,MFI,OBV,AD,WILLR
0,2014-01-02,21.309999,21.700001,21.230000,21.459999,5096443,NaN,NaN,NaN,NaN,...,NaN,5096443,-1.084578e+05,NaN,NaN,NaN,NaN,5096443.0,-1.084578e+05,NaN
1,2014-01-03,21.400000,21.450001,20.370001,20.790001,9945683,NaN,NaN,NaN,NaN,...,NaN,-4849240,-2.318608e+06,NaN,NaN,NaN,NaN,-4849240.0,-2.318608e+06,NaN
2,2014-01-06,20.680000,20.680000,20.219999,20.240000,5171376,NaN,NaN,NaN,NaN,...,NaN,-10020616,-7.040289e+06,NaN,NaN,NaN,NaN,-10020616.0,-7.040289e+06,NaN
3,2014-01-07,20.100000,20.250000,19.860001,20.000000,5364241,NaN,NaN,NaN,NaN,...,NaN,-15384857,-8.553291e+06,NaN,NaN,NaN,NaN,-15384857.0,-8.553291e+06,NaN
4,2014-01-08,20.000000,20.389999,20.000000,20.230000,5186841,20.544,NaN,NaN,NaN,...,NaN,-10198016,-7.622322e+06,NaN,NaN,NaN,NaN,-10198016.0,-7.622322e+06,NaN
5,2014-01-09,20.200001,20.290001,19.969999,20.020000,3824827,20.256,NaN,NaN,NaN,...,NaN,-14022843,-1.025187e+07,NaN,NaN,NaN,NaN,-14022843.0,-1.025187e+07,NaN
6,2014-01-10,19.900000,20.010000,18.959999,19.240000,9143400,19.946,NaN,NaN,NaN,...,NaN,-23166243,-1.451878e+07,NaN,NaN,NaN,NaN,-23166243.0,-1.451878e+07,NaN
7,2014-01-13,19.299999,19.299999,19.010000,19.219999,4283805,19.742,NaN,NaN,NaN,...,NaN,-27450048,-1.259846e+07,NaN,NaN,NaN,NaN,-27450048.0,-1.259846e+07,NaN
8,2014-01-14,19.219999,19.559999,19.120001,19.490000,3426150,19.640,NaN,NaN,NaN,...,NaN,-24023898,-1.026245e+07,NaN,NaN,NaN,NaN,-24023898.0,-1.026245e+07,NaN
9,2014-01-15,19.490000,20.000000,19.490000,19.830000,4878185,19.560,20.052,NaN,NaN,...,NaN,-19145713,-8.636388e+06,NaN,NaN,NaN,NaN,-19145713.0,-8.636388e+06,NaN
10,2014-01-16,19.840000,20.100000,19.760000,19.910000,2931624,19.538,19.897,NaN,NaN,...,NaN,-16214089,-8.981293e+06,NaN,NaN,NaN,NaN,-16214089.0,-8.981293e+06,NaN
11,2014-01-17,20.010000,20.010000,19.600000,19.730000,2813683,19.636,19.791,NaN,NaN,...,NaN,-19027772,-1.001070e+07,-71.897811,NaN,NaN,NaN,-19027772.0,-1.001070e+07,-71.897811
12,2014-01-20,19.600000,19.709999,19.250000,19.430000,4621019,19.678,19.710,NaN,-2.029999,...,26.543920,-23648791,-1.101526e+07,-81.124462,NaN,51.693510,26.543920,-23648791.0,-1.101526e+07,-81.124462
13,2014-01-21,19.490000,20.070000,19.430000,19.980000,2911691,19.776,19.708,NaN,-0.810001,...,35.582571,-20737100,-8.922480e+06,-40.697690,NaN,36.650368,35.582571,-20737100.0,-8.922480e+06,-40.697690
14,2014-01-22,19.980000,20.110001,19.750000,20.100000,4602530,19.830,19.695,19.978000,-0.139999,...,44.665169,-16134570,-4.575652e+06,-20.279647,NaN,35.027257,44.665169,-16134570.0,-4.575652e+06,-20.279647
15,2014-01-23,20.100000,20.150000,19.879999,19.920000,3955330,19.832,19.685,19.875333,-0.080000,...,45.890305,-20089900,-7.359007e+06,-32.867078,NaN,33.300085,45.890305,-20089900.0,-7.359007e+06,-32.867078
16,2014-01-24,19.950001,20.070000,19.410000,19.540001,8548517,19.794,19.715,19.792000,-0.689999,...,33.721294,-28638417,-1.253990e+07,-56.390900,NaN,42.695938,33.721294,-28638417.0,-1.253990e+07,-56.390900
17,2014-01-27,19.469999,19.469999,19.030001,19.070000,7097953,19.722,19.700,19.714000,-0.950001,...,31.995213,-35736370,-1.834734e+07,-90.756255,NaN,49.028927,31.995213,-35736370.0,-1.834734e+07,-90.756255
18,2014-01-28,19.059999,19.450001,19.030001,19.129999,5427807,19.552,19.664,19.656000,-0.110001,...,43.744449,-30308563,-2.119052e+07,-89.473772,NaN,49.028927,43.744449,-30308563.0,-2.119052e+07,-89.473772
19,2014-01-29,19.180000,19.270000,18.879999,18.980000,6456224,19.328,19.579,19.572667,-0.240000,...,42.161150,-36764787,-2.433586e+07,-92.125957,NaN,51.544608,42.161150,-36764787.0,-2.433586e+07,-92.125957
20,2014-01-30,19.000000,19.040001,18.379999,18.580000,6490546,19.060,19.446,19.476667,-0.910000,...,34.588438,-43255333,-2.689273e+07,-88.700525,NaN,58.917697,34.588438,-43255333.0,-2.689273e+07,-88.700525
21,2014-02-07,18.549999,18.980000,18.520000,18.700001,8121576,18.892,19.343,19.440667,-1.129999,...,37.531580,-35133757,-2.865827e+07,-81.920818,NaN,58.917697,37.531580,-35133757.0,-2.865827e+07,-81.920818
22,2014-02-10,18.770000,19.280001,18.730000,19.100000,12382450,18.898,19.310,19.432667,-0.809999,...,45.359776,-22751307,-2.438069e+07,-59.321975,NaN,43.343185,45.359776,-22751307.0,-2.438069e+07,-59.321975
23,2014-02-11,19.170000,20.150000,19.100000,19.889999,17814676,19.050,19.301,19.459333,0.160000,...,58.054142,-4936631,-1.538854e+07,-14.689275,NaN,9.418412,58.054142,-4936631.0,-1.538854e+07,-14.689275
24,2014-02-12,19.920000,20.030001,19.680000,19.910000,6691717,19.236,19.282,19.464667,0.480000,...,64.212981,1755086,-1.328545e+07,-13.559306,NaN,9.418412,64.212981,1755086.0,-1.328545e+07,-13.559306
25,2014-02-13,19.889999,19.889999,19.500000,19.610001,6408027,19.442,19.251,19.444667,-0.369999,...,58.637029,-4652941,-1.607867e+07,-30.508411,NaN,14.406264,58.637029,-4652941.0,-1.607867e+07,-30.508411
26,2014-02-14,19.540001,19.820000,19.540001,19.690001,5257374,19.640,19.266,19.442000,-0.410000,...,58.896342,604433,-1.570313e+07,-25.988642,NaN,14.406264,58.896342,604433.0,-1.570313e+07,-25.988642
27,2014-02-17,19.820000,19.889999,19.580000,19.719999,6782577,19.764,19.331,19.461333,-0.200001,...,64.275169,7387010,-1.635953e+07,-24.293796,NaN,11.563149,64.275169,7387010.0,-1.635953e+07,-24.293796
28,2014-02-18,19.730000,19.730000,19.180000,19.240000,12105300,19.634,19.342,19.412000,-0.300001,...,62.089536,-4718290,-2.582369e+07,-51.412407,NaN,23.425736,62.089536,-4718290.0,-2.582369e+07,-51.412407
29,2014-02-19,19.230000,19.290001,18.969999,19.129999,10187290,19.478,19.357,19.347333,0.059999,...,60.280009,-14905580,-2.582375e+07,-57.627130,NaN,28.888779,60.280009,-14905580.0,-2.582375e+07,-57.627130
30,2014-02-20,19.250000,19.780001,19.209999,19.350000,12876519,19.426,19.434,19.309333,0.220001,...,62.968721,-2029061,-3.237492e+07,-45.197685,NaN,9.079911,62.968721,-2029061.0,-3.237492e+07,-45.197685
31,2014-02-21,19.330000,19.459999,19.000000,19.100000,8159687,19.308,19.474,19.280000,0.120001,...,62.003688,-10188748,-3.698690e+07,-59.321975,NaN,15.174980,62.003688,-10188748.0,-3.698690e+07,-59.321975
32,2014-02-24,19.000000,19.010000,18.580000,18.930000,7533995,19.150,19.457,19.270667,0.350000,...,61.421583,-17722743,-3.225625e+07,-74.846622,NaN,25.998745,61.421583,-17722743.0,-3.225625e+07,-74.846622
33,2014-02-25,18.930000,19.200001,18.160000,18.490000,11637149,19.000,19.317,19.228000,-0.210001,...,53.004687,-29359892,-3.650829e+07,-83.417087,NaN,35.041101,53.004687,-29359892.0,-3.650829e+07,-83.417087
34,2014-02-26,18.400000,18.700001,18.190001,18.610001,5818194,18.896,19.187,19.203333,-0.490000,...,45.199397,-23541698,-3.274358e+07,-77.386894,36.782542,35.041101,45.199397,-23541698.0,-3.274358e+07,-77.386894
35,2014-02-27,18.610001,18.629999,18.010000,18.290001,7333119,18.684,19.055,19.184000,-1.599998,...,32.105599,-30874817,-3.345321e+07,-86.138583,35.728597,38.851986,32.105599,-30874817.0,-3.345321e+07,-86.138583
36,2014-02-28,18.200001,18.500000,17.680000,18.430000,7325072,18.550,18.929,19.166000,-1.480000,...,25.222210,-23549745,-2.737875e+07,-66.063334,35.237857,45.273191,25.222210,-23549745.0,-2.737875e+07,-66.063334
37,2014-03-03,18.330000,18.719999,18.049999,18.480000,7406000,18.460,18.805,19.124667,-1.130001,...,32.103764,-16143745,-2.527854e+07,-63.800925,34.358534,34.965686,32.103764,-16143745.0,-2.527854e+07,-63.800925
38,2014-03-04,18.480000,18.480000,18.200001,18.280001,4610558,18.418,18.709,19.017333,-1.410000,...,27.045193,-20754303,-2.725448e+07,-72.850650,33.434024,34.965686,27.045193,-20754303.0,-2.725448e+07,-72.850650
39,2014-03-05,18.350000,18.389999,17.959999,18.170000,5729945,18.330,18.613,18.901333,-1.549999,...,20.408228,-26484248,-2.738772e+07,-76.666682,33.309391,40.451128,20.408228,-26484248.0,-2.738772e+07,-76.666682
40,2014-03-06,18.110001,18.320000,17.750000,18.230000,5471302,18.318,18.501,18.809333,-1.010000,...,21.980980,-21012946,-2.364420e+07,-73.809565,33.607653,44.888285,21.980980,-21012946.0,-2.364420e+07,-73.809565
41,2014-03-07,18.170000,18.719999,18.000000,18.559999,10361075,18.344,18.447,18.734000,-0.570000,...,32.904663,-10651871,-1.788804e+07,-58.095286,32.246287,25.462605,32.904663,-10651871.0,-1.788804e+07,-58.095286
42,2014-03-10,18.350000,18.440001,17.900000,18.139999,7486115,18.276,18.368,18.628667,-1.210001,...,19.942609,-18137986,-1.871985e+07,-74.157337,31.361886,28.091970,19.942609,-18137986.0,-1.871985e+07,-74.157337
43,2014-03-11,18.059999,18.290001,18.000000,18.270000,5597031,18.274,18.346,18.564000,-0.830000,...,27.047061,-12540955,-1.389484e+07,-61.184212,31.002175,28.091970,27.047061,-12540955.0,-1.389484e+07,-61.184212
44,2014-03-12,18.280001,18.299999,17.900000,18.240000,4163272,18.288,18.309,18.504667,-0.690001,...,28.228334,-16704227,-1.098054e+07,-63.157941,31.169920,30.989123,28.228334,-16704227.0,-1.098054e+07,-63.157941
45,2014-03-13,18.200001,18.370001,17.990000,18.250000,4867485,18.292,18.305,18.431333,-0.240000,...,37.189598,-11836742,-9.187270e+06,-45.192285,31.160774,27.079242,37.189598,-11836742.0,-9.187270e+06,-45.192285
46,2014-03-14,18.180000,18.230000,17.969999,18.160000,4872640,18.212,18.278,18.368667,-0.450001,...,37.713667,-16709382,-6.938345e+06,-53.846154,31.339185,27.751411,37.713667,-16709382.0,-6.938345e+06,-53.846154
47,2014-03-17,18.170000,18.190001,17.990000,18.160000,5344298,18.216,18.246,18.317333,-0.130001,...,38.771874,-16709382,-3.197367e+06,-53.846154,31.770278,27.751411,38.771874,-16709382.0,-3.197367e+06,-53.846154
48,2014-03-18,18.150000,18.500000,18.080000,18.360001,8774661,18.234,18.254,18.308667,-0.070000,...,49.786521,-7934721,-2.724538e+05,-37.113295,30.962427,9.186454,49.786521,-7934721.0,-2.724538e+05,-37.113295
49,2014-03-19,18.320000,18.320000,17.969999,18.080000,5262316,18.202,18.245,18.273333,-0.400000,...,41.011567,-13197037,-2.227014e+06,-65.979365,30.423419,14.022978,41.011567,-13197037.0,-2.227014e+06,-65.979365

Starting calculating

In [20]:
for w in range(0, len(company_index)):
    df = pd.read_excel(company_index[w]+".xlsx")
    inputs = {
    'open': df["open"],
    'high': df["high"],
    'low':  df["low"],
    'close': df["close"],
    'volume': df["volume"]
    }
    # uses close prices (default)
    out1 = abstract.MOM(inputs, timeperiod=12)
    out2 = abstract.RSI(inputs, timeperiod=12)
    out3 = abstract.CMO(inputs, timeperiod=12)
    a = pd.DataFrame(out1, columns=["MOM"])
    b = pd.DataFrame(out2, columns=["RSI"])
    c = pd.DataFrame(out3, columns=["CMO"])
    pd.concat([df,a , b, c], axis=1).to_excel(company_index[w]+".xlsx", \
                                              sheet_name = company_index[w], index=False)
    if(w%100==0):
        print(w)        
        
#out1 = abstract.MOM(inputs, timeperiod=12)
#out2 = abstract.RSI(inputs, timeperiod=12)
#out3 = abstract.CMO(inputs, timeperiod=12)
#out4 = abstract.STOCH(inputs, fastk_period=9, slowk_period=3, slowk_matype=0, slowd_period=3, slowd_matype=0)
#out5 = abstract.MACD(inputs, fastperiod=6, slowperiod=12, signalperiod=9)
#out6 = abstract.ADXR(inputs, timeperiod=14)
#out7 = abstract.DX(inputs, timeperiod=14)
#out8 = abstract.MFI(inputs, timeperiod=14)
#out9 = abstract.OBV(inputs)
#out10 = abstract.AD(inputs)
#out11 = abstract.WILLR(inputs, timeperiod=14)

0
100
200
300
400
500
600
700

Assign the features to the train file with labels

In [21]:
train_set = pd.read_excel("strategy_results_train_max.xlsx")

In [22]:
import copy

In [23]:
dataset = copy.deepcopy(train_set)

In [24]:
temp = []
for i in range(0, dataset.shape[0]):
# for i in range(0, 1):
    if(i%1000==0):
        print(i, datetime.datetime.now())
    trade_company = dataset.iloc[i][0].split("_")[0]
    trade_date    = dataset.iloc[i][0].split("_")[1]
    df = pd.read_excel(trade_company+".xlsx")
    trade_date_datetime = datetime.date(int(trade_date[:4]), int(trade_date[4:]), 1) - datetime.timedelta(days=1)
    lower_index = 0
    for index in range(0, df.shape[0]):
        if(df["date"].iloc[index]< trade_date_datetime):
            lower_index = index
        else:
            break
#     print(list(df.iloc[lower_index, :]))
    temp.append(list(df.iloc[lower_index, :]))

0 2020-06-15 23:56:33.036783
1000 2020-06-16 00:06:42.666193
2000 2020-06-16 00:16:42.130523
3000 2020-06-16 00:26:46.779573
4000 2020-06-16 00:36:53.864130
5000 2020-06-16 00:46:35.597880
6000 2020-06-16 00:56:51.766017
7000 2020-06-16 01:06:32.987967
8000 2020-06-16 01:16:36.375052
9000 2020-06-16 01:26:49.904633
10000 2020-06-16 01:36:29.910562
11000 2020-06-16 01:45:59.015849
12000 2020-06-16 01:56:17.579488
13000 2020-06-16 02:06:30.361872
14000 2020-06-16 02:16:42.105372
15000 2020-06-16 02:26:53.760339
16000 2020-06-16 02:37:06.273220
17000 2020-06-16 02:47:18.151870
18000 2020-06-16 02:57:12.278523
19000 2020-06-16 03:07:39.104779
20000 2020-06-16 03:17:27.906833
21000 2020-06-16 03:27:29.024964
22000 2020-06-16 03:37:23.342878
23000 2020-06-16 03:47:24.693787
24000 2020-06-16 03:57:30.668912
25000 2020-06-16 04:07:07.987739
26000 2020-06-16 04:17:03.673187
27000 2020-06-16 04:26:23.130705
28000 2020-06-16 04:36:34.733342
29000 2020-06-16 04:46:26.387727
30000 2020-06-16 04:56:28.194900
31000 2020-06-16 05:05:27.182842

In [25]:
pd.DataFrame(temp).to_excel("train_output_mul.xlsx", index=False)

In [26]:
# df.iloc[lower_index, :]

In [27]:
# trade_date_datetime

In [28]:
# df["date"][0] < trade_date_datetime

In [29]:
#pd.concat(,axis=1)
#train_set = pd.read_excel("strategy_results_train.xlsx")

In [30]:
testset = pd.read_excel("sampleSubmission.xlsx")

In [31]:
testset.head()

                   id  label
0  SHSE.600085_201901      0
1  SHSE.600085_201902      0
2  SHSE.600085_201903      0
3  SHSE.600085_201904      0
4  SHSE.600085_201905      0

In [32]:
temp = []
for i in range(0, testset.shape[0]):
# for i in range(0, 10):
    if(i%1000==0):
        print(i, datetime.datetime.now())
    trade_company = testset.iloc[i][0].split("_")[0]
    trade_date    = testset.iloc[i][0].split("_")[1]
    df = pd.read_excel(trade_company+".xlsx")
    trade_date_datetime = datetime.date(int(trade_date[:4]), int(trade_date[4:]), 1) - datetime.timedelta(days=1)
    lower_index = 0
    for index in range(0, df.shape[0]):
        if(df["date"].iloc[index]< trade_date_datetime):
            lower_index = index
        else:
            break
#     print(list(df.iloc[lower_index, :]))
    if(lower_index==0):
        temp.append(dash = ["-","","","","","","","",""])
    else:
        temp.append(list(df.iloc[lower_index, :]))

0 2020-06-16 05:12:46.425067
1000 2020-06-16 05:22:59.382387
2000 2020-06-16 05:32:34.301649
3000 2020-06-16 05:42:21.281574
4000 2020-06-16 05:51:11.118493
5000 2020-06-16 06:01:31.287931
6000 2020-06-16 06:11:52.564253
7000 2020-06-16 06:21:47.041121
8000 2020-06-16 06:31:40.763926
9000 2020-06-16 06:41:23.829749
10000 2020-06-16 06:51:10.994590
11000 2020-06-16 06:59:42.503697

In [33]:
pd.DataFrame(temp).to_excel("test_output_mul.xlsx", index=False)

In [34]:
temp[0]

[Timestamp('2018-12-28 00:00:00'),
 27.18000030517578,
 27.57999992370605,
 26.98999977111816,
 27.5,
 3575585,
 27.25800018310547,
 27.57299995422363,
 28.19799995422363,
 -1.739999771118161,
 40.62536249336742,
 -18.74927501326517,
 23.36664512099905,
 35.338823030059,
 37.96568061452146,
 1750766779,
 1661372966.78957,
 -66.5914347566257,
 23.36664512099905,
 35.338823030059,
 37.96568061452146,
 1750766779,
 1661372966.78957,
 -66.5914347566257,
 23.36664512099905,
 35.338823030059,
 37.96568061452146,
 1750766779,
 1661372966.78957,
 -66.5914347566257,
 23.36664512099905,
 35.338823030059,
 37.96568061452146,
 1750766779,
 1661372966.78957,
 -66.5914347566257]